/*Common elements across all pages

Earth-Yellow Palette
Colors used:
1.  Sand1                                               999859
2.  GreenMustard                                        D7D531
3.  GreenGrey                                           757416
4.  LightYellow                                         F9F8C6
5.  Corporate cobalt by entitydesign - colourlovers.com 44749d
*/

@font-face {
  font-family: "glyphicons-halflings-regular";
  src: url("fonts\\glyphicons-halflings-regular.ttf") format("truetype");
}

body{
  background-color: #F9F8C6; /*4*/
}

h1 {
  font-family: "glyphicons-halflings-regular", cursive;
  font-size: 20px;
  line-height: 40px;
  color: #757416; /*3*/
}

h2 {
  font-size: 14px;
  line-height: 40px;
  color: #757416; /*3*/
}

hr {
  border-top: 3px solid #D7D531; /*2*/
  border-bottom: 3px solid #D7D531; /*2*/
  border-left: 3px #D7D531; /*2*/
}

a.link {
color: #44749d; /* corporate cobalt by entitydesign – colourlovers.com */
}

a:visited {
    color: black;
}

a:hover {
  font-weight: bold;
}

a:active {
  text-decoration: none;
}

textarea {
  font-family: "glyphicons-halflings-regular", monospace;
  width: 100%;
  height: 200px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #5b7d87; /*3*/
  border-radius: 3px;
  background-color: #D7D531;/*2*/
  resize: none;
}

#foot {
  font-family: "glyphicons-halflings-regular", cursive;
  font-style: italic;
  text-align: center;
  background-color: white;
}
